<div class="dashboard">
<h1>Kotopidea Dashboard</h1>
</div>

  <div class="container con">
    <div class="row justify-content-around ">
       <div class="col-lg-3 col-8  Books">
        <h1>Books</h1>
        <hr/>
        <ul>
            <li>Get all books</li>
            <li>Add books</li>
            <li>Edit books</li>
            <li>Delete books</li>
        </ul>
       <button routerLink="/Books">Go to Books</button>
       
       </div>

       <div class="col-lg-3 col-8 Books ">
        <h1 >Customers</h1>
        <hr/>
        <ul>
            <li>Get all customers</li>
            <li>search for a customer</li>
            <li>Delete books</li>
        </ul>
       <button routerLink="/Customers" >Go to Customers</button>
       </div>

       <div class="col-lg-3 col-8 Orders ">
        <h1 >Orders</h1>
        <hr/>
        <ul>
            <li>Get all orders</li>
            
        </ul>
       <button routerLink="/Orders" >Go to Orders</button>
       </div>
    </div>
  </div>
