.bookHeader{
    background-color: var(--color4);
    color: var(--color1);
}
.bookHeader h6{
display: inline-block;
}
.getBook{
    width: 95%;
    margin-top: 3%;
}

.bookContent{
    color: var(--color1);
}
.bookContent img{
    margin: 2% 0px;
    width: 150px;
    height: 200px;
    border: 1px solid;
    border-radius: 10px;
    
}
.book{
    margin-top: 2%;
}
.btns button{
    background-color: var(--color1);
    color: var(--color4);
    font-weight: bold;
    border-radius: 10px;
    border: 0px;
    padding: 5px 0px;
    margin: 1% 0px;
    width: 30%;
}
.search input{
    border-radius: 10px;
    border: none;
    padding: 1%;
    width: 100%;
    
}
.search input:focus{
    outline: none;
    border: 3px solid;
    border-color: var(--color1);
}
.search{
    position: relative;
}
.iconSearch{
    position: absolute;
    font-size: 20px;
    right: 35px;
    top: 7px;
}



