

<div class="container getBook">
<!------------Books Header-------------------------->
    <div class="row bookHeader justify-content-around text-center align-items-center">
        <h1 class="col-2">Books</h1>
        <div class="col-md-5  search">
        <input class="" type="search" placeholder="Search for Book">
        <i  class="fa-solid fa-magnifying-glass iconSearch"></i>
    </div>
<!-- Add Book Modal -->
    <div class="col-md-2 col-12 add">
      <button type="button" class="btn btn-primary my-3 bootstrapButton" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat"><i class="fa-solid fa-plus">Add Book</i></button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Book</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" #text [value]="emptyText" placeholder="Add one book" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" (click)="get(text.value)" id="AddModalButton" class="btn btn-primary bootstrapButton">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-12 add">
      <button (click)="fire()">show</button>
      <button type="button" class="btn btn-primary bootstrapButton"><i class="fa fa-duotone fa-trash">Delete All</i></button>
    </div>
    </div>
<!------------End Books Header-------------------------->
<!------------BookContent------------------------------->
<div class="row bookContent justify-content-around text-center align-items-center">
<table class="data">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Title</th>
            <th>Category</th>
            <th>Description</th>
            <th>Author</th>
            <th>Unit Price</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

       <tbody>
        <!-- <tr *ngfor="let book of Books"> -->
           <tr *ngFor="let product of allProducts">
            <td><p class="id">{{product._id}}</p></td>
            <td><img src={{product.photo}} alt="..."></td>
            <td> <input id="editBook" type="text" value="Title"><p>{{product.title}}</p></td>
            <td> <input id="editBook" type="text" value="Category"><p>{{product.category}}</p></td>
            <td> <input id="editBook" type="text" value="Description"><p>{{product.description}}</p></td>
            <td><input id="editBook" type="text" value="Author"><p>{{product.author}}</p></td>
            <td><input id="editBook" type="number" value="1111"><p>{{product.unitPrice}}</p></td>
            <td><i (click)="edit()"  class="fa fa-pencil edit"></i></td>
            <td><i (click)="del()" class="fa fa-duotone fa-trash"></i></td>
           </tr>
       </tbody>
</table>

</div>
</div>

