
      
<div class="container getBook">
<!------------Books Header-------------------------->
    <div class="row bookHeader justify-content-around text-center align-items-center">
        <h1 class="col-2">Books</h1>
        <div class="col-md-5  search">
        <input class="" type="search" placeholder="Search for Book">
        <i  class="fa-solid fa-magnifying-glass iconSearch"></i>
    </div>
    <div class="col-md-2 col-12 add">
        <i class="fa-solid fa-plus">Add Book</i> 
    </div>
    <div class="col-md-3 col-12 add">
        <i  class="fa fa-duotone fa-trash"> Delete All</i>
    </div>
    </div>
<!------------End Books Header-------------------------->
<!------------BookContent------------------------------->
<div class="row bookContent justify-content-around text-center align-items-center">
<table class="data">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Title</th>
            <th>Category</th>
            <th>Description</th>
            <th>Auther</th>
            <th>Unit Price</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    
       <tbody>
        <!-- <tr ngfor="let book of Books"> -->
           <tr>
            <td><p class="id">ID</p></td>
            <td><img src="https://upload.wikimedia.org/wikipedia/ar/d/d3/%D8%BA%D9%84%D8%A7%D9%81_%D9%83%D8%AA%D8%A7%D8%A8_%D8%A7%D9%84%D8%B9%D8%A7%D8%AF%D8%A7%D8%AA_%D8%A7%D9%84%D8%B3%D8%A8%D8%B9_%D9%84%D9%84%D9%86%D8%A7%D8%B3_%D8%A7%D9%84%D9%81%D8%B9%D8%A7%D9%84%D9%8A%D9%86_%D9%84%D9%84%D8%BA%D8%A7%D9%8A%D8%A9.jpg" alt="..."></td>
            <td> <input id="editBook" type="text" value="Title"><p>Title</p></td>
            <td> <input id="editBook" type="text" value="Category"><p>Category</p></td>
            <td> <input id="editBook" type="text" value="Description"><p>Description</p></td>
            <td><input id="editBook" type="text" value="Auther"><p>Auther</p></td>
            <td><input id="editBook" type="number" value="1111"><p>1111</p></td>
            <td><i (click)="edit()"  class="fa fa-pencil edit"></i></td>
            <td><i (click)="del()" class="fa fa-duotone fa-trash"></i></td>
           </tr> 
       </tbody>  
</table>

</div>
</div>

