.orderHeader{
    background-color: var(--color4);
    color: var(--color1);

}
.getOrder{
    width: 95%;
    margin-top: 3%;

}
.search input{
    border-radius: 10px;
    border: none;
    padding: 1%;
    width: 100%;

}
.search input:focus{
    outline: none;
    border: 3px solid;
    border-color: var(--color1);
}
.search{
    position: relative;
}
.iconSearch{
    position: absolute;
    font-size: 20px;
    right: 35px;
    top: 8px;
}
.iconSearch:hover{
  cursor: pointer;
}





/*  */

.eachOrder{
  border: 1px solid var(--color1);
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
}

table{
  border: 1px solid var(--color1);
  width: 100%;
}

.tableRow{
  border: 1px solid var(--color1);
}

.tableCell{
  border: 1px solid var(--color1);

}
tr td img{
  width: 60px;
}

