

<div class="container getOrder">
    <!------------Order Header-------------------------->
        <div class="row orderHeader justify-content-around text-between align-items-center">
            <h1 class="col-3">Orders</h1>
            <div class="col-md-6  search">
            <input class="" type="search" placeholder="Search for Order">
            <i  class="fa-solid fa-magnifying-glass iconSearch"></i>
        </div>

        </div>
    <!------------End Order Header-------------------------->
    <!------------OrderContent------------------------------->
    <div class="row orderContent justify-content-around text-center align-items-center">
    <table class="data">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Order Date</th>
                <th>Book Title</th>
                <th>Total Price</th>
                <th>Status</th>
                <th>Edit Status</th>
            </tr>
        </thead>

           <tbody>
            <!-- <tr ngfor="let order of Orerds"> -->
               <tr>

                <td> <p>User Name</p></td>
                <td> <p>Order Date</p></td>
                <td> <p>Book Title</p></td>
                <td> <p>Total Price</p></td>
                <td> <input ng-show="false" id="editOrder" type="text" value="Status"><p>Status</p></td>
                <td><button class="rounded-pill"><i  class="fa fa-pencil edit"></i></button></td>
               </tr>
           </tbody>
    </table>

    </div>
    </div>



