.orderHeader{
    background-color: var(--color4);
    color: var(--color1);

}
.getOrder{
    width: 95%;
    margin-top: 3%;

}
.search input{
    border-radius: 10px;
    border: none;
    padding: 1%;
    width: 100%;

}
.search input:focus{
    outline: none;
    border: 3px solid;
    border-color: var(--color1);
}
.search{
    position: relative;
}
.iconSearch{
    position: absolute;
    font-size: 20px;
    right: 35px;
    top: 7px;
}
.data{
    color: var(--color1);
}
.data img{
    width: 100px;
    height: 150px;
}
.data thead{
    background-color: var(--color4);
    border-bottom: 2px solid var(--color1);
    margin-top: 2%;
    height: 50px;
}



.data input{
    border: none;
    text-align: center;
    outline: none;
    display: none;
}


/*  */

.orderContent{
  color: var(--color1);
  padding: 0;
}

.order{
  display: flex;
  width: 100%;
  padding: 0;
  gap: 3%;
}

.side2 h6{
  display: inline-block;
}
.side2{
  width: 100%;
  padding: 2%;
  display: flex;
  gap: 2%;
  justify-content: space-between;
  align-items: center;

}
.total{
  display: inline-block;
  width: 50%;
}
.orderDetails{
  display: inline-block;
  width: 50%;
}
.layout{
  display: flex;

}
.formBtn{
  background-color: var(--color1);
    color: var(--color4);
    font-weight: bold;
    border-radius: 10px;
    border: 0px;
    padding: 5px 0px;
    margin: 1% 0px;
    width: 30%;
}
















