<div class="container getOrder">
  <!------------Order Header-------------------------->
  <div class="row orderHeader justify-content-around text-between align-items-center">
    <h1 class="col-3">Orders</h1>
    <div class="col-md-6  search">
      <input class="" type="search" placeholder="Search for Order">
      <i class="fa-solid fa-magnifying-glass iconSearch"></i>
    </div>

  </div>
  <!------------End Order Header-------------------------->
  <!------------OrderContent------------------------------->
  <div class="row orderContent justify-content-around text-center align-items-center">

    <div *ngFor="let order of Orders" class="row orderContent justify-content-around align-items-center">
      <div class="col-md-9 col-12 order">

        <div class="side2">
          <h6><b>User Email :</b> {{order.email}}</h6>
          <h6><b>Order Date :</b> {{order.date}}</h6>
          <div>
            <div *ngIf="order.isEdit">
              <input type="text" [(ngModel)]="order.status" class="form-control" />
            </div>
            <div *ngIf="!order.isEdit">
              <h6><b>Status :</b>{{order.status}}</h6>
            </div>
            <div *ngIf="order.isEdit">
              <button class="btn btn-sm formBtn" (click)="updateStatus(order._id,order.status)">Update</button>
              <button class="btn btn-sm " (click)="order.isEdit = false">Cancel</button>
            </div>
            <div *ngIf="!order.isEdit">
              <button class="btn btn-sm " (click)="onEdit(order)"><i class="fa fa-pencil edit"></i></button>
            </div>
          </div>

          <div class="row justify-content-around layout" *ngFor="let v of order.productsInOrder">
            <div class="orderDetails">
              <h6> <b>Book title:</b>{{v.title}}</h6>
              <h6> <b>Quantity:</b>{{v.quantity}}</h6>
            </div>
            <div class="total">
              <h6><b>Total Price :</b>{{v.quantity*v.unitPrice}} </h6>
            </div>
          </div>
        </div>

      </div>
    </div>
    <hr>
  </div>
