.customerHeader{
    background-color: var(--color4);
    color: var(--color1);
   
}
.getCustomer{
    width: 95%;
    margin-top: 3%;
    
}
.search input{
    border-radius: 10px;
    border: none;
    padding: 1%;
    width: 100%;
    
}
.search input:focus{
    outline: none;
    border: 3px solid;
    border-color: var(--color1);
}
.search{
    position: relative;
}
.iconSearch{
    position: absolute;
    font-size: 20px;
    right: 35px;
    top: 7px;
}
.data{
    /* margin-top: 2%; */
    color: var(--color1);
}
.data img{
    width: 100px;
    height: 150px;
}
.data thead{
    background-color: var(--color4);
    border-bottom: 2px solid var(--color1);
    margin-top: 2%;
    height: 50px;
}
/* .data p{
  display: none; 
} */
.data .id{
    display: block;
}
.data input{
    border: none;
    text-align: center;
    outline: none;
    display: none;
}