
      
<div class="container getCustomer">
    <!------------Customer Header-------------------------->
        <div class="row customerHeader justify-content-around text-center align-items-center">
            <h1 class="col-3">Customers</h1>
            <div class="col-md-6  search">
            <input class="" type="search" placeholder="Search for Book">
            <i  class="fa-solid fa-magnifying-glass iconSearch"></i>
        </div>

        </div>
    <!------------End Customers Header-------------------------->
    <!------------CustomerContent------------------------------->
    <div class="row customerContent justify-content-around text-center align-items-center">
    <table class="data">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                
                <th>Delete</th>
            </tr>
        </thead>
        
           <tbody>
            <!-- <tr ngfor="let user of Users"> -->
               <tr>
                
                <td> <input id="editUser" type="text" value="Name"><p>Name</p></td>
                <td> <input id="editUser" type="email" value="Email"><p>Email</p></td>
                <td> <input id="editUser" type="text" value="Gender"><p>Gender</p></td>
                <td><i  class="fa fa-duotone fa-trash"></i></td>
               </tr> 
           </tbody>  
    </table>
    
    </div>
    </div>
    
    
